@keyframes loader {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

body {
  margin: 0;
}

.site-loader {
  background-color: blueviolet;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-loader span {
  font-weight: bold;
  font-size: 18px;
  color: white;
  animation-name: loader;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
