.banner-main {
  height: 716px;
  background: url('../images/banners/banner-02.jpg') no-repeat center center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;

  h1 {
    font-size: 49px;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    font-size: 27px;
    font-weight: 300;
  }

  .button {
    &.button-large {
      margin: 45px 0;
    }
  }

  .banner-copy {
    width: 210px;
    font-weight: 300;
    margin-bottom: 73px;

    & > span {
      & > span {
        display: block;
        font-size: 24px;
      }
    }
  }
}
