.banner-main {
  height: 177px;
  background: url('../images/5e2c439736bbafd351538732c2b69175.png') no-repeat
    center center;
  background-size: cover;
  display: flex;
  justify-content: right;

  .button {
    background-color: $white;
    color: $gray-primary;
    border: 1px solid $gray-primary;
    padding: 3px 10px;
  }
}
