.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

@for $i from 1 through 5 {
  .box-#{$i} {
    border-width: #{$i}px;
  }
}

$height: 145px;

@for $i from 1 to 6 {
  .box-#{$i} {
    height: #{($i * 5px + $height)};
    width: #{($i * 5px + $height)};
  }
}

// punctul 2 - live + 4

// mai incolo invatam modulo -> % (idem in JS)

@for $i from 1 through 5 {
  @if $i % 2 !=0 {
    .box-#{$i}0 {
      background-color: gray;
    }
  }
}
